mat-toolbar button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background: none;
}

mat-toolbar button:not(.home-button) {
    //border-bottom: 0.15em solid red ;
    color: #6abcff;
}

mat-toolbar button.active:not(.home-button) {
    color: #4e54ffe1;
    border-bottom: 0.15em solid red;
}

mat-toolbar .home-button {
    color: #4e54ffe1;
    font-size: 1.2em;
}